<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog App</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="../../static/css/style.css" rel="stylesheet">
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/jquery-ui.min.js"></script>


</head>
<body>

    <header>
        <h1>Catalog App</h1>

        <div id="login">
            {% if current_user != '' %}
                <button id="btn-logout" onclick="location.href='/logout';">Log Out</button>
                <h3>Welcome {{ current_user }}</h3>
            {% else %}
                <button id="btn-login" onclick="location.href='/login';">Login</button>
                <button id="btn-signup" onclick="location.href='/signup';">Sign up</button>
            {% endif %}

        </div>
    </header>

    <main>
        <div id="items">
            <div class="items-list">
                <div class="category-header">{{ category.name }}</div>

                <!-- only show edit & delete links if the user owns the item -->
                {% if logged_id == category.user_id %}
                <a href="/category/edit/{{ category_id }}">(Edit Category)</a>
                <a href="/category/delete/{{ category_id }}">(Delete Category)</a>
                {% endif %}
            </div>

            <div class="items-list">
                {% for item in items %}
                    <div class="category-item-list"><a href="/catalog/{{ category.name }}/{{ item.name }}">{{ item.name }}</a></div>
                {% endfor %}
            </div>

        </div>
        <a id="link-back" href="/">Go Back</a>
    </main>

    <footer>
        <p id="my-signature">Developed by: <a id="my-mail" href="mailto:walidpiano@yahoo.com">Walid Zakaria</a></p>
    </footer>

    </body>
</html>
