<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog App</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/main.js"></script>

</head>
<body>

    <header>
        <h1>Login</h1>
    </header>


    <form action="{{ url_for('login') }}" method="POST">
        <div class="form-container">
            <div class="labels">
                <label for="input-name">Your Name or Email:</label>
            </div>
            <div class="inputs">
                <input id="input-name" name="user_identity" type="text" required placeholder="Who Are You?" autofocus>
            </div>
            <br>
            <div class="labels">
                <label for="input-password">Password:</label>
            </div>

            <div class="inputs">
                <input name="password" id="input-password" type="password" required placeholder="What's your password?">
            </div>
            <br>

            <div class="buttons">
                <input type="submit" value="Login">
            </div>

            <div class="buttons">
                <button onclick="window.location.href='/gconnect';" type="button" id="google-login">Google Login</button>
            </div>

        </div>

    </form>


    <footer>
        <p id="my-signature">Developed by: <a id="my-mail" href="mailto:walidpiano@yahoo.com">Walid Zakaria</a></p>
    </footer>

    </body>
</html>
